<a href="https://colab.research.google.com/github/tapasmeher10/Kaggle/blob/main/titanic_using_Logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import Libraries

In [ ]:
import numpy as np
import pandas as pd

##Importing Dataset

In [ ]:
dataset=pd.read_csv("train2.csv")
testset=pd.read_csv("test2.csv")

##encoding categorical data

In [ ]:
gen = set(dataset['Sex'])
dataset['Sex'] = dataset['Sex'].map({'female': 0, 'male': 1}).astype(int)
gen1 = set(testset['Sex'])
testset['Sex'] = testset['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [ ]:
testset['Pclass']=testset['Pclass'].astype(float)

##Nan value

In [ ]:
dataset.columns[dataset.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
dataset.Age=dataset.Age.fillna(dataset.Age.mean())

In [ ]:
testset.columns[testset.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [ ]:
testset.Age=testset.Age.fillna(testset.Age.mean())

In [ ]:
testset.Fare=testset.Fare.fillna(testset.Fare.mean())

##Devide data

In [ ]:
x=dataset.drop("Survived",axis="columns")

In [ ]:
y=dataset.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

##Feature scalling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc1=StandardScaler()
testset=sc1.fit_transform(testset)

##tTraining

In [ ]:
from sklearn.linear_model import LogisticRegression
classfier=LogisticRegression(random_state=0)
classfier.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

##predict xtest

In [ ]:

y_pred=classfier.predict(testset)

In [ ]:
real_test = np.array ((len(x1), 1)).astype(int)
pred1 = pd.DataFrame(y_pred, columns=['PassengerId']).to_csv('data1.csv')