<a href="https://colab.research.google.com/github/tapasmeher10/Kaggle/blob/main/titanic_using_naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import Libraries

In [208]:
import numpy as np
import pandas as pd

##Importing Dataset

In [209]:
dataset=pd.read_csv("train2.csv")
testset=pd.read_csv("test2.csv")

##encoding categorical data

In [210]:
gen = set(dataset['Sex'])
dataset['Sex'] = dataset['Sex'].map({'female': 0, 'male': 1}).astype(int)
gen1 = set(testset['Sex'])
testset['Sex'] = testset['Sex'].map({'female': 0, 'male': 1}).astype(int)

In [211]:
testset['Pclass']=testset['Pclass'].astype(float)

##Nan value

In [212]:
dataset.columns[dataset.isna().any()]

Index(['Age'], dtype='object')

In [213]:
dataset.Age=dataset.Age.fillna(dataset.Age.mean())

In [214]:
testset.columns[testset.isna().any()]

Index(['Age', 'Fare'], dtype='object')

In [215]:
testset.Age=testset.Age.fillna(testset.Age.mean())

In [216]:
testset.Fare=testset.Fare.fillna(testset.Fare.mean())

##Devide data

In [217]:
x=dataset.drop("Survived",axis="columns")

In [218]:
y=dataset.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

##Feature scalling

In [219]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [220]:
from sklearn.preprocessing import StandardScaler
sc1=StandardScaler()
testset=sc1.fit_transform(testset)

##tTraining

In [221]:
from sklearn.naive_bayes import GaussianNB
classfier=GaussianNB()
classfier.fit(x,y)

GaussianNB(priors=None, var_smoothing=1e-09)

##predict xtest

In [222]:

y_pred=classfier.predict(testset)

In [224]:
real_test = np.array ((len(x1), 1)).astype(int)
pred1 = pd.DataFrame(y_pred, columns=['PassengerId']).to_csv('data1.csv')